name: mlops-ci
on:
   push:
       branches: [main]
   pull_request:
       branches: [main]
jobs:
    matrix-build:
        name: Train and save the model.
        strategy:
            matrix:
                python-version: [3.11, 3.12]
        runs-on: ubuntu-latest
        steps:
            - name: Chekout code
              uses: actions/checkout@v2
            - name: Set up Python
              uses: action/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Upgrade pip
              run: python -m pip install --upgrade pip setuptools wheel
            - name: Install dependencies
              run: python -m pip install -r requirements.txt
            - name: Train the model
              run: |
                 python train.py
                 ls -la artifacts
            - name: Upload the artifacts
              uses: actions/upload-artifact@v6
              with:
                  name: ml-artifacts-${{ matrix.python-version }}-${{ github.run_id }}
                  path: artifacts

              